/node_modules
/public/hot
/public/storage
/public/uploads/base64img_cache
/public/uploads/uploads
/public/uploads/images/*.jpg
/public/uploads/images/*.jpeg
/public/.well-known
*acme-challenge
/storage/*.key
/vendor
/storage/logs
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/.user.ini
/public/web.config
.htaccess
nginx.htaccess
/error
.user.ini
404.html
